.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    font-size: 12px;
    font-weight: 700;
}

.filters > div {
    display: flex;
    gap: 1rem;
}

@media (max-width: 800px) {
    .filters {
        flex-direction: column;
        gap: 20px
    }
}