.filters-modal {
    position: fixed;
    left: 30px;
    bottom: 10px;
    background-color: var(--dark-90);
    padding: 12px;
    border-radius: 10px;
    transition: all .3s linear;
}

.filters-modal > span > strong {
    color:cornflowerblue;
}

@media (max-width: 800px) {
    .filters-modal {
        left: 0;
        right: 0;
        margin: auto 10px;
    }
}