nav {
  background-color: var(--secondary);
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.logo svg {
  font-size: 27px;
  margin: auto 16px;
}

.logo h1 {
  font-size: 30px;
}

@media (max-width: 800px) {
  .logo svg {
    font-size: 21px;
  }
  
  .logo h1 {
    font-size: 20px;
  }
}