.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-90);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: appear .3s ease;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
  padding: 0;
  animation: grow .5 ease;
}

@keyframes appear {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

.slider img {
  object-fit: contain;
  margin: 0;
  border: 1px solid var(--strong-70);
}

.absolute {
  position: absolute;
}

.hover:hover {
  color: var(--strong-90);
}

.left-arrow {
  font-size: 2rem;
  color: var(--strong-70);
  top: 50%;
  left: 10px;
}

.right-arrow {
  font-size: 2rem;
  color: var(--strong-70);
  top: 50%;
  right: 10px;
}

.close-modal {
  font-size: 2rem;
  color: var(--strong-70);
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .slider {
    width: 90%;
    height: 90%;
  }
}