:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: rgba(100, 81, 170, 1);
  --primary-90: rgba(100, 81, 170, .9);
  --primary-70: rgba(100, 81, 170, .7);
  --primary-50: rgba(100, 81, 170, .5);
  --primary-30: rgba(100, 81, 170, .3);

  --secondary: rgba(125, 98, 221, 1);
  --secondary-90: rgba(125, 98, 221, .9);
  --secondary-70: rgba(125, 98, 221, .7);
  --secondary-50: rgba(125, 98, 221, .5);
  --secondary-30: rgba(125, 98, 221, .3);

  --strong: rgba(101, 59, 255, 1);
  --strong-90: rgba(101, 59, 255, .9);
  --strong-70: rgba(101, 59, 255, .7);
  --strong-50: rgba(101, 59, 255, .5);

  --dark: rgb(38, 31, 65);
  --dark-99: rgba(38, 31, 65, .99);
  --dark-90: rgba(38, 31, 65, .9);
  --dark-70: rgba(38, 31, 65, .7);
  --dark-50: rgba(38, 31, 65, .5);
  --dark-30: rgba(38, 31, 65, .3);
}

@keyframes shine {
  0% {filter: brightness(1);}
  50% {filter: brightness(1.1)}
  100% {filter: brightness(1);}
}

.pointer {
  cursor: pointer;
}

body {
  margin: auto;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

main {
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 25px;
  }
}